nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
  a.navbar-brand(href='/') EDUACTIVITY
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      - let isActive = 'not-active'
      if(isLoggedIn)
        - isActive = page==='cart' ? 'active' : 'not-active'
        li.nav-item(class=isActive)
          a.nav-link(href='/cart')
            span.glyphicon.glyphicon-shopping-cart
            span.sr-only (current)
      if(isAdmin)
        - isActive = page==='admin' ? 'active' : 'not-active'
        li.nav-item(class=isActive)
          a.nav-link(href='/admin/') Admin
    form.form-inline.my-2.my-lg-0.mr-0.justify-content-end.mx-4
      input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
      button.btn.btn-outline-light.my-2.my-sm-0(type='submit') Search

    ul.navbar-nav.navbar-right
      if !isLoggedIn
        li.mx-2.nav-item
          a(href='/auth/signup').nav-link
            span.glyphicon.glyphicon-user
            |  Sign Up
        li.nav-item
          a(href='/auth/login').nav-link
            span.glyphicon.glyphicon-log-in
            |  Login
      else
        li.nav-item.position-relative.wishlist
          a(href='#').nav-link
            svg.bi.bi-heart-fill(width='25', height='25', viewbox='0 0 20 20', fill='currentColor',  xmlns='http://www.w3.org/2000/svg')
              path(fill-rule='evenodd', d='M10 3.314C14.438-1.248 25.534 6.735 10 17-5.534 6.736 5.562-1.248 10 3.314z', clip-rule='evenodd')
          ul.wishlist__list.position-absolute
            if(wishlist)
              each product in wishlist
                li.wishlist__item
                  - const imagePath = `/images/${product.imageName}`
                  - const productPath = `/product/${product.id}`
                  a(href=productPath)
                    img(src= imagePath)
                    p #{product.title}
            li.wishlist__item
              img(src="/images/maze.jpg")
              p description

        li.nav-item.dropdown
          a(href='#' role='button' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false").nav-link.dropdown-toggle#navbarDropdown
            | Hello #{user}
          div.dropdown-menu(aria-labelledby="navbarDropdown")
            a.dropdown-item(href="/my-products")
              | My Products
            a.dropdown-item(href="/orders")
              | My Orders
            a.dropdown-item(href='/auth/logout')
              span.glyphicon.glyphicon-log-out
              span.mx-1 Logout