
.card.card--product(style='width: 100%' data-id=product.id data-csrf=csrfToken).position-relative.bg-secondary
  picture.p-0.m-0.mb-3
    img(src= product.imageUrl alt=product.title style='width: 100%; height: 10rem; object-fit: contain').card-img-top
  if(!admin)  
    include heart.pug
    include heart-fill.pug
    .alert.alert-success.speech-bubble.speech-bubble--product.invisible.position-absolute
      strong Login
      |  to create your wishlist

  .card-body.d-relative
    h5.card-title.text-center.bg-transparent.text-dark #{product.title}
    - if(gallery && !admin)
      p.card-text.card__description.line-clamp.line-clamp--2.bg-success.text-light
        | #{product.description} 
    - else
      p.text-light.card__description.line-clamp.line-clamp--2
        | #{product.description} 

    //- display price only if 
    //- this is not my product or free product
    //- in case admin mode is active - display the price no matter what
    -let priceVisibility = ((product.myProduct || product.price < 0) && !admin ) ? 'hidden' : 'visible'
    //- Display 'FREE' for free product
    -let price = product.price === 0 ? 'FREE' : `$${product.price}`

    h3(style=`visibility: ${priceVisibility}`).text-center.card--product__price.text-primary #{price}

    .card--product__actions
      //- Display Learn More in shop and gallery mode. 
      - if(['shop'].includes(page) && gallery)
        a.btn.btn-success(href=productPath).d-block.w-70.mr-auto.ml-auto.border.border-dark.text-uppercase.mb-2 Learn More
      //- Download only purchased and free products. Admin may download any product
      - if(product.myProduct || product.price === 0 || admin)
        a(href=`/download/${product._id}`).btn.btn--action.d-block.w-70.ml-auto.mr-auto.border-dark DOWNLOAD
      - else
        div.w-70.ml-auto.mr-auto.border.border-dark.rounded
          include ../includes/add-to-cart.pug
      if(admin)
        a(href= product.editUrl).btn.btn--action.d-block.w-70.ml-auto.mr-auto.border-dark   Edit
        a(href= product.deleteUrl).btn.btn--action.d-block.w-70.ml-auto.mr-auto.border-dark Delete