extends ../templates/container.pug
block content
  include ../includes/header.pug 
  section.hero
    h1.text-center.my-4
      | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  section.mt-5.bg-secondary.p-3.pb-5
    h1.text-center.text-light.mb-5.text-uppercase
      | Printables by Category
    div.categories
      each entry in data
        .category.card
          - const category = entry.category
          - categoryRoute = `/category/${category.id}`
          a(href=categoryRoute).card-title.text-center.text-uppercase
            h2 #{entry.category.title}
          div.topics.list-group
            each topic in entry.topics
              - const topicRoute = `/topic/${topic.id}`
              a(href=topicRoute).list-group-item.list-group-item-action.text-center.bg-success.text-light.card__content
                | #{topic.title}
  include ../includes/footer.pug 

