extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4  
    | #{product.title}
  .product
    - const imagePath = `/images/${product.imageName}`
    .card(style='width: 33%;').mx-auto
      img(src=imagePath, alt=product.title).card-img-top
      .card-body.text-center
      .card-body
        p.card-text
          | #{product.description}
        -const addToCart = `/addToCart/${product.id}`
        -const orderNow = `/order/${product.id}`
        a.btn.btn-primary(href= addToCart) Add to Cart
        a.btn.btn-primary(href= orderNow) Order Now

  include ../includes/footer.pug 

