extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4 #{title}
  form(action=route method='GET').mb-5
    div.form-group.w-25.m-auto
      select(name="acquisition").form-control#opt.w-50.submit-on-toggle.m-auto
        - let selected = false;
        - selected = acquisition === 'free' 
        option(value='free' selected= selected) Free
        - selected = acquisition === 'premium' 
        option(value='premium' selected= selected) Premium
        - selected = acquisition === 'all' 
        option(value='all' selected= selected) All

  .products
    each product in products
      - const imagePath = `/images/${product.imageName}`
      - const productPath = `/product/${product.id}`
      .card(style='width: 18rem;').position-relative
        img(src= imagePath alt="maze").card-img-top
        include ../includes/heart.pug
        include ../includes/heart-fill.pug
        .card-body
          h5.card-title #{product.title}
          p.card-text
            | #{product.description}
          - let priceVisibility = (product.myProduct || product.price === 0) ? 'hidden' : 'visible'
          h2(style=`visibility: ${priceVisibility}`) #{product.price}

          a.btn.btn-primary(href=productPath).d-block Learn More
          if(product.myProduct || product.price === 0)
            a(href=`/download/${product._id}`).btn.btn-primary.d-block DOWNLOAD
          else
            include ../includes/add-to-cart.pug
  include ../includes/footer.pug 


