extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4  
    | #{product.title}
  .product
    - const imagePath = `/images/${product.imageName}`
    .card(style='width: 33%;').mx-auto
      img(src=imagePath, alt=product.title).card-img-top
      .card-body
        p.card-text
          | #{product.description}
        if(product.myProduct || product.price === 0)
          a(href='/download?id=product._id').btn.btn-primary DOWNLOAD
        else if(product.price > 0)
          h4.card-text.mb-4
            | $#{product.price}
          include ../includes/add-to-cart.pug

  include ../includes/footer.pug 

