extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4 #{title}
  .products
    each product in products
      - const imagePath = `/images/${product.imageName}`
      - const productPath = `/product/${product.id}`
      .card(style='width: 18rem;')
        img(src= imagePath alt="maze").card-img-top
        .card-body
          h5.card-title #{product.title}
          p.card-text
            | #{product.description}
          - let priceVisibility = (product.myProduct || product.price === 0) ? 'hidden' : 'visible'
          h2(style=`visibility: ${priceVisibility}`) #{product.price}

          a.btn.btn-primary(href=productPath).d-block Learn More
          if(product.myProduct || product.price === 0)
            a(href=`/download/${product._id}`).btn.btn-primary.d-block DOWNLOAD
          else
            include ../includes/add-to-cart.pug
  include ../includes/footer.pug 


