extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES

  h2.text-center.mb-4 #{topic.title} Printables
  .products
    each product in products
      - const imagePath = `/images/${product.imageName}`
      - const productPath = `/product/${product.id}`
      .card(style='width: 18rem;')
        img(src= imagePath alt="maze").card-img-top
        .card-body
          h5.card-title #{product.title}
          p.card-text
            | #{product.description}
          a.btn.btn-primary(href=productPath) Learn More
          include ../includes/add-to-cart.pug
  include ../includes/footer.pug 


