extends ../templates/container.pug
block content
  - const _id = isEdit ? product._id : null
  - const title = isEdit ? product.title: ''
  - const description = isEdit ? product.description : ''
  - const price = isEdit ? product.price : ''
  - const action = isEdit ? "/admin/editProduct" : "/admin/createProduct"
  include ../includes/header.pug 
  h2.text-center.my-4
    | #{isEdit ? "Edit Product" : "Add Product"}
  form(action= action method='POST' enctype="multipart/form-data").border.border-info.w-75.align-self-center.p-4
    input(type="hidden", id=prodId, name=_id, value= _id)
    div.form-group
      label(for='title') 
        | Title:
      input(type='text', name='title', required, value= title ).form-control
    div.form-group
      label(for='printable') 
        | Printable File: 
      input(type='file', name='printable', accept=".pdf" required).form-control-file
    div.form-group
      label(for='imageurl') 
        | Image: 
      input(type='file', name='imageurl' accept="image/*").form-control-file

    div.form-group
      label(for='price')| Price 
      input(type='text', name='price', required, value=price).form-control
    div.form-group
      label(for='category')| Select categories
      select(name="category" multiple).form-control
        option(value='holidays') Holidays
        option(value='birthday') Birthday
        option(value='party') Party
    div.form-group
      label(for="description") Product Description
      textarea(name='description', placeholder="Product Description", required).form-control #{description}
    button(class='btn btn-info' type='submit', value='Submit') SUBMIT
