extends ../templates/container.pug
block content
  - const prodId = isEdit ? product._id : null
  - const title = isEdit ? product.title: ''
  - const description = isEdit ? product.description : ''
  - const price = isEdit ? product.price : ''
  - const topicName = isEdit ? product.topic : ''
  - const action = isEdit ? "/admin/editProduct" : "/admin/createProduct"
  - const isRequired = !isEdit

  include ../includes/header.pug 
  h2.text-center.my-4
    | #{isEdit ? "Edit Product" : "Add Product"}
  form(action= action method='POST' enctype="multipart/form-data").border.border-info.w-75.align-self-center.p-4
    input(type="hidden" name="_csrf" value=csrfToken)
    - if(isEdit)
      input(type="hidden", id="id", name= "prodId", value= prodId)
    div.form-group
      label(for='title') 
        | Title:
      input(type='text', name='title', required, value= title ).form-control
    div.form-group
      label(for='printable') 
        | Printable File: 
      input(type='file', name='printable', accept=".pdf" required=isRequired).form-control-file
    div.form-group
      label(for='imageurl') 
        | Image: 
      input(type='file', name='imageurl' accept="image/*" required=isRequired).form-control-file

    div.form-group
      label(for='price')| Price 
      input(type='text', name='price', required, value=price).form-control
    div.form-group
      label(for='topics')| Select Topicss
      select(name="topic" multiple).form-control
        each topic in topics
          - let isSelected = false
          - if(product.topic.id === topic.id) isSelected = true
          option(value= topic.id selected= isSelected).text-uppercase  #{topic.title}
    div.form-group
      label(for="description") Product Description
      textarea(name='description', placeholder="Product Description", required).form-control #{description}
    button(class='btn btn-info' type='submit', value='Submit') SUBMIT
