extends ../templates/container.pug
block content
  include ../includes/header.pug
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  a.btn.btn-primary.btn-lg.mx-auto.my-4(href='/admin/createProduct', role='button')
    | Create Product
  form(action='products' ).w-25.mx-auto
    input(type="hidden" name="_csrf" value=csrfToken)
    div.form-group
      label(for="topic") Filter by Topic
      select(name="topic" id="topic").form-control
        option(value='all' selected) ALL PRODUCTS
        each topic in topics
          - const selected = topic.id === filter
          option(value=topic.id selected=selected) #{topic.title.toUpperCase()}
      input(type="submit").btn.btn-primary.mx-auto.d-block.mt-4
  .products.my-5
    for product in products
      .card.product
        - const title = product.title
        - const imgUrl = product.imageUrl
        - const editUrl = "/admin/editProduct/"+product._id
        - const deleteUrl = "/admin/deleteProduct/"+product._id

        img(src=imgUrl alt=title).img-fluid
        .card-body
          h4.card-title #{product.title}
          p.class-text
            | Topic: 
            span.text-uppercase #{product.topic.title}
          p.class-text
            = product.description

          a(href= editUrl).btn.btn-outline-primary.btn-large.btn-lg.btn-block. 
            Edit
          a(href= deleteUrl).btn.btn-outline-primary.btn-lg.btn-block Delete