extends ../templates/container.pug
block content
  include ../includes/header.pug 
  h1.text-center.my-4
    | DIY PRINTABLES FOR HOLIDAYS & PARTIES
  a.btn.btn-primary.btn-lg.mx-auto(href='/admin/createTopic', role='button') 
    | Create Topic
  form.w-25.mx-auto(action='/admin/topics')
    input(type="hidden" name="_csrf" value=csrfToken)
    div.form-group
      label(for="categories") Filter by Category
      select(name="filter" id="categories").form-control 
        option(name="all" value="all", selected) ALL CATEGORIES
        each category in categories
          - const selected = category.id === filter
          option(value=category.id selected=selected) #{category.title.toUpperCase()}

      input(type="submit" onclick=getFilteredTopics).btn.btn-primary.mx-auto.d-block.mt-4
  .topics.my-5
    for topic in topics
      .card.topic
        - const title = topic.title
        - const description = topic.description
        - const category = topic.category
        - const imgUrl = "/images/"+topic.imageName
        - const editUrl = "/admin/editTopic/"+topic._id
        - const deleteUrl = "/admin/deleteTopic/"+topic._id
        img(src= imgUrl alt= title).img-fluid
        .card-body
          h5.card-title= title
          p.class-text #{description }
          p.class-text Category: 
            span.text-uppercase #{ category.title.toUpperCase() }

          a(href=editUrl).btn.btn-outline-primary.btn-large.btn-lg.btn-block
            | Edit
          a(href=deleteUrl).btn.btn-outline-primary.btn-lg.btn-block Delete



